/* body {
    background-image: url("liquidss.svg");
    background-repeat: no-repeat;
} */

#welcome {
    background-image: linear-gradient(to right, #34495E  , #EBEDEF );
    height: 500px;
}
#welcome_text {
    color: #FFFFFF;
    font-size: 65px;
    text-align: center;
    font-weight: 900;
}

#welcome_links_holder {
    margin-top: 50px;
    text-align: center;
}

.lang {
    background-color: #F86A4B;
    padding: 2px;
    border: 1px solid black;
    color: white;
    font-weight: 800;

}

.panel {
    box-shadow: 10px 10px #F5F5F5; 
    padding: 10px 10px 10px 10px;
}

.navbar {
    background-color: #F86A4B ;
    border-radius: 0px;
    border: none;
}

.navbar-brand {
    color: White;
    font-weight: bolder;
}

h3 {
    color: #F86A4B;
    font-family: Audiowide;
    text-align: center;
}
